* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabin-<uniquifier> {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

body {
    font-family: 'Cabin', sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 3rem;
    line-height: 1.5;
    background-color: var(--bs-gray-900);
    color: var(--bs-gray-100);
}

h1 {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
}

button, select {
    font: inherit;
}

a {
    color: var(--bs-cyan);
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--bs-cyan);
    text-decoration: underline;
}

ul li {
    padding: 0.2rem 0;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
    color: white;
    text-decoration: none;
    font-weight: normal;
    pointer-events: none;
}

.nav-link {
    color: var(--bs-cyan);
}

.nav-link:hover, .nav-link:focus {
    color: var(--bs-cyan);
    text-decoration: underline;
}

.navbar-nav .nav-link.active {
    color: var(--bs-cyan);
    font-weight: bold;
    pointer-events: none;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.lead {
    text-align: center;
    text-wrap: balance;
    @media (min-width: 800px) {
        max-width: 60%;
        margin: 0 auto 2rem;
    }
}

.body-text {
    @media (min-width: 800px) {
        max-width: 50%;
        margin: 0 auto 2rem;
    }
    margin-top: 2rem;
    font-size: 1.1rem;
}

.accordion {
    --bs-accordion-border-color: var(--bs-gray-700);
    @media (min-width: 800px) {
        max-width: 50%;
        margin: 0 auto;
    }
}

.accordion-button {
    background-color: var(--bs-gray-900);
    color: var(--bs-cyan);
    font-size: 1.1rem;
}

.accordion-button:not(.collapsed) {
    background-color: var(--bs-gray-900);
    color: var(--bs-cyan);
    box-shadow: none;
}

.accordion-button::after {
    background-image: var(--bs-accordion-btn-active-icon);
}

.accordion-item {
    background-color: var(--bs-gray-800);
    color: var(--bs-gray-100);
}

footer {
    text-align: center;
    padding: 2em 0;
    width: 100%;
    position: relative;
    bottom: 0;
}
