/* 
==============================================

Theme: Stellar
Creator: Vicky Carmichael (quovixi.com)
Purpose: Adapt for use with the Tito widget (ti.to/docs/api/widget/)

Recommendations:

- Edit the root variables to quickly populate styles
- There may be missing styles for certain classes or scenarios
- Test thoroughly with all relevant ticket types and statuses
- Test thoroughly on all supported browsers

==============================================
*/

:root {

	/* Theme colors and example uses */

	--widget-bg-color: #1b1e3c;       /* Widget background */
	--status-bg-color: #252849;       /* Status background */
	--input-bg-color: #2f3357;        /* Input field background */
	--border-color: #3b3f73;          /* Border around & between tickets */
	--title-color: #d1c4f9;           /* Ticket name */
	--text-color: #e6e7f7;            /* Ticket description & input text */
	--explainer-color: #9f91df;       /* Reducing price, combo description & tax */
	--muted-color: #C4C5D3;           /* Unavailable ticket description & status */
	--accent-color: #58c7e6;          /* Icon, link & secondary button */
	--btn-main-bg-color: #F435AB;     /* Buy button background color */
	--btn-main-active-color: #BE2985; /* Buy button hover & focus background color */
	--btn-text-color: #ffffff;        /* All buttons text color */
	--warning-color: #e53935;         /* Error & warning color */

	/* Theme font and sizing */

	--font-family-default: "Space Grotesk", serif; /* Include reference to font if editing */
	--font-size-default: 1rem;
	--font-size-xs: 0.8rem;
	--font-size-sm: 0.9rem;
	--font-size-lg: 1.1rem;
	--font-size-xl: 1.2rem;

	/* Theme spacing for padding and margins */

	--space-xs: 0.4rem;
	--space-sm: 0.6rem;
	--space-reg: 1rem;
	--space-lg: 1.4rem;

	/* Other theme styles */

	--border-radius: 4px;

}

*, *::before, *::after {
 	box-sizing: border-box;
}

* {
  	margin: 0;
}

/* Custom fonts */

.space-grotesk-regular {
	font-family: var(--font-default);
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

/* Widget styles */

.tito-widget {
	color: var(--text-color);
	display: flex;
	font-family: var(--font-family-default);
	font-size: var(--font-size-default);
	justify-content: center;
	margin: var(--space-reg) 0;
	width: 100%
}

.tito-widget input, 
.tito-widget button, 
.tito-widget textarea, 
.tito-widget select {
  	font: inherit;
}

.tito-widget p, 
.tito-widget h1, 
.tito-widget h2, 
.tito-widget h3, 
.tito-widget h4, 
.tito-widget h5, 
.tito-widget h6, 
.tito-widget li {
	overflow-wrap: break-word;
	color: var(--text-color);
}

.tito-widget h1 {
  	font-size: var(--font-size-lg);
}

.tito-widget h2 {
 	font-size: 1.1rem;
}

.tito-widget h3 {
 	font-size: var(--font-size-default);
}

.tito-widget p {
 	font-size: var(--font-size-default);
}

.tito-widget button {
	border: 0;
}

.tito-widget body,
.tito-widget fieldset,
.tito-widget form,
.tito-widget html,
.tito-widget legend,
.tito-widget li,
.tito-widget ol,
.tito-widget ul {
	padding-left: var(--space-reg);
}

.tito-widget a {
	color: var(--accent-color);
}

.tito-widget h1,
.tito-widget h2,
.tito-widget h3,
.tito-widget h4,
.tito-widget h5,
.tito-widget h6 {
	font-weight: 500;
}

.tito-widget fieldset,
.tito-widget img {
	border: 0;
}

.tito-widget legend {
	color: var(--text-color);
}

.tito-widget sup {
	vertical-align: text-top;
}

.tito-widget sub {
	vertical-align: text-bottom;
}

.tito-widget table {
	border-collapse: collapse;
	border-spacing: 0;
}

.tito-widget caption,
.tito-widget td,
.tito-widget th {
	font-weight: 400;
	text-align: left;
	vertical-align: top;
}

.tito-widget input,
.tito-widget select,
.tito-widget textarea {
	font-size: var(--font-size-default);
	line-height: 1.1;
}

.tito-widget abbr,
.tito-widget acronym {
	border-bottom: .1rem dotted;
	cursor: help;
}

.tito-widget b,
.tito-widget strong {
	font-weight: 700;
}

.tito-widget * {
	box-sizing: border-box;
}

@media(max-width:37.5rem) {
	.tito-widget {
		font-size: var(--font-size-sm);
	}
}

.tito-flow .tito-widget {
	margin-bottom: 0;
	margin-top: 0;
}

.tito-widget input[type=number]::-webkit-inner-spin-button,
.tito-widget input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.tito-widget input[type=number],
.tito-widget input[type=text] {
	background-color: var(--input-bg-color);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	color: var(--text-color);
	display: inline-block;
	font-size: var(--font-size-default);
	height: 34px;
	line-height: 1.4;
	margin: 0;
	text-align: center;
}

.tito-widget .tito-form-actions {
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	padding: var(--space-reg) 0;
	text-align: right;
}

.tito-widget .tito-form-actions.tito-form-actions--with-discount {
	justify-content: start;
}

.tito-widget .tito-form-actions .tito-discount {
	flex: 1;
	margin-bottom: var(--space-reg);
	min-width: 100%;
	text-align: left;
	transition: flex .5s;
}

@media(min-width:37.5rem) {
	.tito-widget .tito-form-actions .tito-discount {
		margin-bottom: inherit;
		min-width: inherit;
	}
}

.tito-widget .tito-form-actions .tito-discount.tito-discount--applying {
	flex: 0;
}

.tito-widget .tito-form-actions .tito-discount input.tito-discount-code-field {
	padding-left: var(--space-sm);
	text-align: left;
	width: 100%;
}

@media(min-width:37.5rem) {
	.tito-widget .tito-form-actions .tito-discount input.tito-discount-code-field {
		margin-right: var(--space-sm);
		width: inherit;
	}
}

.tito-widget .tito-form-actions .tito-discount input.tito-discount-code-field[disabled] {
	background-color: var(--muted-color);
}

.tito-widget .tito-form-actions .tito-discount input.tito-discount-code-field.tito-invalid {
	border-color: var(--warning-color);
}

.tito-widget .tito-form-actions .tito-discount .tito-discount--warning {
	color: var(--warning-color);
	line-height: 34px;
	white-space: nowrap;
}

.tito-widget .tito-form-actions .tito-submit {
	background: var(--btn-main-bg-color);
	border-radius: var(--border-radius);
	color: var(--btn-text-color);
	font-size: var(--font-size-lg);
	cursor: pointer;
	line-height: 1.4;
	margin: 0;
	min-height: 34px;
	padding: var(--space-xs) var(--space-sm);
	text-align: center;
	width: 100%;
}

.tito-widget .tito-form-actions .tito-submit:active,
.tito-widget .tito-form-actions .tito-submit:focus,
.tito-widget .tito-form-actions .tito-submit:hover {
	background: var(--btn-main-active-color);
}

@media(min-width:37.5rem) {
	.tito-widget .tito-form-actions .tito-submit {
		max-width: min-content;
		min-width: 145px;
	}
}

.tito-widget .tito-form-actions .tito-submit.tito-submit--discount-code {
	background: var(--accent-color);
	color: var(--widget-bg-color);
	padding-bottom: 0;
	padding-top: 0;
}

.tito-widget .tito-form-actions .tito-submit[disabled] {
	background-color: var(--muted-color);
	border: none;
	color: white;
}

.tito-widget .tito-form-actions .tito-submit[disabled]:hover {
	color: var(--muted-color);
}

.tito-widget .tito-locked-ticket-message {
	background-color: var(--status-bg-color);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	color: var(--muted-color);
	margin-top: var(--space-reg);
	padding: var(--space-sm);
	text-align: center;
}

.tito-widget .tito-locked-ticket-message p {
	line-height: 1.4;
	margin-bottom: 0;
}

.tito-widget .tito-locked-ticket-message p+p {
	margin-top: var(--space-xs);
}

.tito-widget .tito-widget-registration-unavailable {
	font-weight: 700;
	margin: var(--space-reg) 0;
	text-align: center;
}

.tito-widget .tito-widget-loading {
	padding: var(--space-reg);
}

.tito-widget .tito-widget-form {
	background: var(--widget-bg-color);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	max-width: 920px;
	padding: 0 var(--space-sm);
	width: 100%;
}

@media(min-width:37.5rem) {
	.tito-widget .tito-widget-form {
		padding: 0 var(--space-lg);
	}
}

.tito-widget-in-overlay .tito-widget .tito-widget-form {
	border: none;
	border-radius: 0;
}

.tito-widget .tito-widget-form .tito-times {
	align-items: center;
	display: flex;
	margin-left: var(--space-xs);
	opacity: .5;
}

@media(max-width:37.5rem) {
	.tito-widget .tito-widget-form .tito-times {
		display: none;
	}
}

@media(min-width:37.5rem) {
	.tito-widget .tito-widget-form .tito-times {
		margin-left: var(--space-sm);
		margin-right: var(--space-xs);
	}
}

.tito-widget .tito-widget-form .tito-release {
	border-bottom: 1px solid var(--border-color);
	display: flex;
	margin-top: var(--space-lg);
	min-height: 54px;
	padding-bottom: var(--space-sm);
}

@media(max-width:37.5rem) {
	.tito-widget .tito-widget-form .tito-release {
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

@media(min-width:37.5rem) {
	.tito-widget .tito-widget-form .tito-release {
		margin-top: var(--space-sm);
		padding-bottom: 0;
	}
}

.tito-widget .tito-widget-form .tito-release.tito-release--expired,
.tito-widget .tito-widget-form .tito-release.tito-release--expired .tito-release-description .tito-release-description--combos,
.tito-widget .tito-widget-form .tito-release.tito-release--expired .tito-release-description .tito-release-description--description p,
.tito-widget .tito-widget-form .tito-release.tito-release--locked,
.tito-widget .tito-widget-form .tito-release.tito-release--locked .tito-release-description .tito-release-description--combos,
.tito-widget .tito-widget-form .tito-release.tito-release--locked .tito-release-description .tito-release-description--description p,
.tito-widget .tito-widget-form .tito-release.tito-release--sold-out,
.tito-widget .tito-widget-form .tito-release.tito-release--sold-out .tito-release-description .tito-release-description--combos,
.tito-widget .tito-widget-form .tito-release.tito-release--sold-out .tito-release-description .tito-release-description--description p,
.tito-widget .tito-widget-form .tito-release.tito-release--upcoming,
.tito-widget .tito-widget-form .tito-release.tito-release--upcoming .tito-release-description .tito-release-description--combos,
.tito-widget .tito-widget-form .tito-release.tito-release--upcoming .tito-release-description .tito-release-description--description p {
	color: var(--muted-color);
}

.tito-widget .tito-widget-form .tito-release.tito-release--locked .tito-release--status {
	background-color: var(--status-bg-color);
	border: 1px solid var(--border-color);
	color: var(--muted-color);
}

.tito-widget .tito-widget-form .tito-release.tito-release--upcoming .tito-release--status {
	padding: 1px 1rem;
}

.tito-widget .tito-widget-form .tito-release.tito-release:last-child {
	border: none;
}

.tito-widget .tito-widget-form .tito-release .tito-release--title {
	color: var(--title-color);
	font-size: var(--font-size-xl);
	font-weight: 500;
	margin-bottom: 0;
	width: 100%;
}

.tito-release--title small {
	font-size: var(--font-size-sm);
}

.tito-widget .tito-widget-form .tito-release .tito-details--waiting-list,
.tito-widget .tito-widget-form .tito-release .tito-price-details-donation,
.tito-widget .tito-widget-form .tito-release .tito-price-details-regular {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
}

.tito-widget .tito-widget-form .tito-release .tito-details--waiting-list .tito-release--tax,
.tito-widget .tito-widget-form .tito-release .tito-price-details-donation .tito-release--tax,
.tito-widget .tito-widget-form .tito-release .tito-price-details-regular .tito-release--tax {
	color: var(--explainer-color);
	font-size: var(--font-size-sm);
	text-align: right;
	width: 100%;
}

.tito-widget .tito-widget-form .tito-release .tito-details--waiting-list .tito-release--donation-currency,
.tito-widget .tito-widget-form .tito-release .tito-price-details-donation .tito-release--donation-currency,
.tito-widget .tito-widget-form .tito-release .tito-price-details-regular .tito-release--donation-currency {
	margin-right: 5px
}

.tito-widget .tito-widget-form .tito-release .tito-details--waiting-list .tito-release--donation-input,
.tito-widget .tito-widget-form .tito-release .tito-price-details-donation .tito-release--donation-input,
.tito-widget .tito-widget-form .tito-release .tito-price-details-regular .tito-release--donation-input {
	-moz-appearance: textfield;
	max-width: 100px
}

@media(max-width:37.5rem) {

	.tito-widget .tito-widget-form .tito-release .tito-details--waiting-list .tito-release--donation-input,
	.tito-widget .tito-widget-form .tito-release .tito-price-details-donation .tito-release--donation-input,
	.tito-widget .tito-widget-form .tito-release .tito-price-details-regular .tito-release--donation-input {
		max-width: 55px;
	}
}

.tito-widget .tito-widget-form .tito-release .tito-details--waiting-list .tito-release--donation-input:disabled,
.tito-widget .tito-widget-form .tito-release .tito-price-details-donation .tito-release--donation-input:disabled,
.tito-widget .tito-widget-form .tito-release .tito-price-details-regular .tito-release--donation-input:disabled {
	background: var(--status-bg-color);
	color: var(--muted-color);
}

.tito-widget .tito-widget-form .tito-release .tito-details--waiting-list .tito-price,
.tito-widget .tito-widget-form .tito-release .tito-price-details-donation .tito-price,
.tito-widget .tito-widget-form .tito-release .tito-price-details-regular .tito-price {
	padding: 0;
	text-align: right;
	width: 100%;
}

@media(max-width:37.5rem) {

	.tito-widget .tito-widget-form .tito-release .tito-details--waiting-list .tito-price,
	.tito-widget .tito-widget-form .tito-release .tito-price-details-donation .tito-price,
	.tito-widget .tito-widget-form .tito-release .tito-price-details-regular .tito-price {
		text-align: left;
	}
}

.tito-widget .tito-widget-form .tito-release .tito-details--waiting-list .tito-discounted-from,
.tito-widget .tito-widget-form .tito-release .tito-price-details-donation .tito-discounted-from,
.tito-widget .tito-widget-form .tito-release .tito-price-details-regular .tito-discounted-from {
	color: var(--warning-color);
	margin-right: var(--space-xs);
}

.tito-widget .tito-widget-form .tito-release .tito-details--waiting-list {
	margin-right: 0
}

@media(max-width:37.5rem) {

	.tito-widget .tito-widget-form .tito-release .tito-details--waiting-list,
	.tito-widget .tito-widget-form .tito-release .tito-details--waiting-list .tito-choose-waiting-list-button,
	.tito-widget .tito-widget-form .tito-release .tito-details--waiting-list .tito-quantity {
		width: 100%;
	}
}

.tito-widget .tito-widget-form .tito-release .tito-price-details-donation {
	flex-direction: row;
}

.tito-widget .tito-widget-form .tito-release .tito-release--status {
	background-color: var(--status-bg-color);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	color: var(--muted);
	font-size: var(--font-size-xs);
	line-height: 22px;
	margin: auto auto auto 18px;
	min-width: 143px;
	padding: var(--space-xs) var(--space-reg);
	text-align: center;
	white-space: nowrap;
}

@media(max-width:37.5rem) {
	.tito-widget .tito-widget-form .tito-release .tito-release--status {
		margin: 0 0 0 5px;
		min-width: 100px;
	}
}

.tito-widget .tito-widget-form .tito-release .tito-release--status span {
	display: block;
	margin-top: -6px;
}

.tito-widget .tito-widget-form .tito-release .tito-release-title {
	width: 100%;
}

.tito-widget .tito-widget-form .tito-release .tito-release-description {
	align-items: center;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-top: 10px;
}

@media(max-width:37.5rem) {
	.tito-widget .tito-widget-form .tito-release .tito-release-description {
		min-width: 100%;
		padding-right: 0;
	}
}

@media(min-width:37.5rem) {
	.tito-widget .tito-widget-form .tito-release .tito-release-description {
		min-width: inherit;
		padding-right: 20px;
	}
}

.tito-widget .tito-widget-form .tito-release .tito-release-description .tito-release--combo-label {
    border-radius: 30px;
    border: 1px solid var(--title-color);
    padding: 0.2rem 0.4rem;
    background-color: var(--status-bg-color);
    color: var(--title-color);
    font-size: var(--font-size-xs);
    font-weight: 700;
    margin-left: var(--space-xs);
}

.tito-widget .tito-widget-form .tito-release .tito-release-description .tito-release-description--description {
	min-width: 100%;
}

.tito-widget .tito-widget-form .tito-release .tito-release-description .tito-release-description--description p {
	color: var(--text-color);
	font-size: var(--font-size-default);
	margin-bottom: 15px;
	margin-top: 5px;
	max-width: 60ch;
}

.tito-widget .tito-widget-form .tito-release .tito-release-description .tito-release-description--description p:last-of-type {
	margin-bottom: 0;
}

.tito-widget .tito-widget-form .tito-release .tito-release-description .tito-release-description--combos {
	color: var(--explainer-color);
	margin-top: var(--space-xs);
}

.tito-widget .tito-widget-form .tito-release .tito-release-description .tito-release-description--combos ul {
	margin-top: 2px;
	padding-inline-start: var(--space-sm);
}

.tito-widget .tito-widget-form .tito-release .tito-release-description .tito-release-description--combos li {
	list-style-type: disc;
}

.tito-widget .tito-widget-form .tito-release .tito-release-description p.tito-release-description--degressive-prices-description {
	color: var(--explainer-color);
	flex-basis: 100%;
	font-size: var(--font-size-sm);
	margin-bottom: 0;
	margin-top: var(--space-xs);
}

.tito-widget .tito-widget-form .tito-release .tito-quantity {
	align-items: center;
	display: flex
}

.tito-widget .tito-widget-form .tito-release .tito-quantity .tito-choose-waiting-list-button {
	background-color: var(--status-bg-color);
	border: 1px solid var(--explainer-color);
	border-radius: var(--border-radius);
	color: var(--btn-text-color);
	cursor: pointer;
	font-size: var(--font-size-sm);
	line-height: 22px;
	margin: auto;
	min-width: 143px;
	padding: var(--space-xs) 0;
	text-align: center;
	white-space: nowrap;
}

.tito-widget .tito-widget-form .tito-release .tito-quantity .tito-choose-waiting-list-button:hover {
	background-color: var(--explainer-color);
	border: 1px solid var(--explainer-color);
	color: var(--widget-bg-color);
	text-decoration: none;
}

@media(min-width:37.5rem) {
	.tito-widget .tito-widget-form .tito-release .tito-quantity .tito-choose-waiting-list-button {
		margin-left: 18px;
	}
}

.tito-widget .tito-widget-form .tito-release .tito-quantity .tito-release--decrement-quantity--link,
.tito-widget .tito-widget-form .tito-release .tito-quantity .tito-release--increment-quantity--link {
	border-bottom: none !important;
	text-decoration: none;
}

.tito-widget .tito-widget-form .tito-release .tito-quantity .tito-release--decrement-quantity>a,
.tito-widget .tito-widget-form .tito-release .tito-quantity .tito-release--increment-quantity>a {
	align-items: center;
	color: var(--accent-color);
	display: flex;
	height: 30px;
	justify-content: center;
	text-decoration: none;
	width: 30px;
}

.tito-widget .tito-widget-form .tito-release .tito-quantity .tito-release--decrement-quantity>a:active,
.tito-widget .tito-widget-form .tito-release .tito-quantity .tito-release--decrement-quantity>a:visited,
.tito-widget .tito-widget-form .tito-release .tito-quantity .tito-release--increment-quantity>a:active,
.tito-widget .tito-widget-form .tito-release .tito-quantity .tito-release--increment-quantity>a:visited {
	color: var(--btn-main-bg-color);
	text-decoration: none;
}

.tito-widget .tito-widget-form .tito-release .tito-quantity .tito-release--decrement-quantity>a:hover,
.tito-widget .tito-widget-form .tito-release .tito-quantity .tito-release--increment-quantity>a:hover {
	color: var(--btn-main-bg-color);
}

.tito-widget .tito-widget-form .tito-release .tito-quantity .tito-release--decrement-quantity>a.tito-release--decrement-quantity--link--disabled,
.tito-widget .tito-widget-form .tito-release .tito-quantity .tito-release--increment-quantity>a.tito-release--decrement-quantity--link--disabled {
	color: var(--muted-color);
}

.tito-widget .tito-widget-form .tito-release .tito-quantity .tito-quantity-input {
	-moz-appearance: textfield;
	width: 45px;
}

.tito-widget .tito-widget-form .tito-release .tito-quantity .tito-release--quantity-input {
	margin-left: 0.6rem;
}